:global(.ReactVirtualized__Grid)
  outline none

normalize-input()
  outline none
  appearance none
  border none

.Index
  padding 40px
  height 100%
  display flex
  flex-direction column
  +below(500px)
    padding 20px

  h1
    text-align center
    font-weight 300
    strong
      font-weight bold

.flexHeight
  flex 1 100%

.input
  normalize-input()
  width 100%
  font-size 24px
  border-radius 24px
  padding 10px 20px
  border 1px solid #ddd
  margin-bottom 20px
