:global(.ReactVirtualized__Grid)
  outline none

normalize-input()
  outline none
  appearance none
  border none

.Index
  margin 0 auto
  width 100%
  max-width 760px
  padding 20px
  height 100%
  display flex
  flex-direction column
  +below(500px)
    padding 10px

  h1
    text-align center
    font-weight 300
    strong
      font-weight bold

.flexHeight
  flex 1 100%

$teal = #36e7a7

.input
  normalize-input()
  width calc(100% - 20px)
  margin 0 auto
  font-size 24px
  border-radius 24px
  padding 10px 20px
  border 1px solid #ddd
  margin-bottom 20px
  &:focus
    box-shadow inset 0 0px 0px 1px $teal, 0 0px 5px $teal
    border-color $teal

.Kaomoji
  position relative
  padding 10px
  border-bottom 1px solid #ddd

  &:hover
    background rgba(148, 255, 151, 0.21)
    border-bottom-color $teal

    .copyToClick
      border-color $teal

  p
    margin 0

  button
    position absolute
    top 50%
    right 10px
    transform translateY(-50%)

.copyToClick
  normalize-input()
  border-radius 3px
  background white
  font-weight bold
  text-transform uppercase
  font-size 12px
  padding 8px 14px
  color #666
  border 1px solid $teal

  &:hover
    background $teal
    color white
    i
      color white

  i
    color $teal

@keyframes spread-out
  from
    opacity 1
    transform scale(1)
  to
    opacity 0
    transform scale(1.4, 1.8)

.anime
  &:after
    content ''
    position absolute
    border-radius 3px
    top 0
    left 0
    right 0
    bottom 0
    background transparent
    border 1px solid #533dff
    animation spread-out 0.7s ease

.poweredBy
  text-align center
  font-style italic
  margin-bottom 20px

.fork
  +below(500px)
    img
      transform scale(0.8) translate(20%, -20%)
